<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Page Title</title>
  <link rel="stylesheet" type="text/css" media="screen" href="assets/css/main.css">
</head>
<body>
  <header></header>
  <div class="posts">
    <%-  listPosts%>
  </div>
  <button class="submit-post">SUBMIT A NEW POST</button>
  <div class="about">Blahblahblahblah</div>
  <script src="assets/javascript/main.js"></script>
</body>
</html>