body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  border-radius: 10px;
  padding: 15px 70px 15px 70px;
  text-align: center;
  opacity: 0.9;
  box-shadow: 0 5px grey;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

button:active {
  position: relative;
  top: 5px;
  border-top: 0;
}

button:nth-child(1) {
  background: linear-gradient(#6783fd, #2246e4);
  box-shadow: 0 5px #0522a1;
}

button:nth-child(2) {
  background: linear-gradient(#42ca31, #219612);
  box-shadow: 0 5px #116905;
}

button:nth-child(3) {
  background: linear-gradient(#ff4b4b, #e60303);
  box-shadow: 0 5px #920303;
}

button:nth-child(1):active {
  box-shadow: 0 -5px #0522a1;
}

button:nth-child(2):active {
  box-shadow: 0 -5px #116905;
}

button:nth-child(3):active {
  box-shadow: 0 -5px #920303;
}